body {
    background: #9b375e;
    color: black;
    text-align: center;
    text-decoration: none;
}

#main-title {
    font-family: 'Bungee', cursive;
    font-size: 700%;
    color: white;
    text-align: center;
}

 p {
  font-family: 'Geo', sans-serif;
  text-decoration: none;
  font-size: 200%;
}

/* stuff for the button */
.button {
    background-color: #9b375e;
    border: 2px solid #9b375e;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* anything that uses webkit */
    transition-duration: 0.4s;
}

/* more stuff for the button */
.button:hover {
    background-color: transparent;
}

/* makes the link thing stay the same no matter what */
a, a:visited, a:active {
    font-family: 'Geo', sans-serif;
    color: white;
    text-decoration: none;
}

/* shadow thing */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /*box-shadow: 0 0 1px transparent;*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

/* more stuff for the shadow */
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    /*box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);*/
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
