html {
    background: black;
}

span {
    display: block;
    color: red;
    position: relative;
    width: 0em;
    max-height: 1em;
    font-size: 16px;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    -webkit-animation: typecon 1s;
    -webkit-animation-fill-mode: forwards;
}

span::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 1em;
    width: 1em;
    background: red;
    box-shadow: -1em 0px 30px 10px red;
    -webkit-animation: typeconCur 1s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes typecon /* anything that uses webkit */ {
    from {
        width: 16px;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes typeconCur /* anything that uses webkit */ {
    60% {
        opacity: 0.85;
    }
    100% {
        opacity: 0;
        box-shadow: -1em 0px 30px 0px red;
    }
}

span:nth-child(1),
span:nth-child(1):after {
    -webkit-animation-delay: 0s;
}

span:nth-child(2),
span:nth-child(2):after {
    -webkit-animation-delay: 1s;
}

span:nth-child(3),
span:nth-child(3):after {
    -webkit-animation-delay: 2s;
}

span:nth-child(4),
span:nth-child(4):after {
    -webkit-animation-delay: 3s;
}

span:nth-child(5),
span:nth-child(5):after {
    -webkit-animation-delay: 4s;
}

span:nth-child(6),
span:nth-child(6):after {
    -webkit-animation-delay: 5s;
}

span:nth-child(7),
span:nth-child(7):after {
    -webkit-animation-delay: 6s;
}
